body {
  margin: auto;
  background-color: #7fc8ed;
}

.nav-bar {
  display: flex;
  padding-left: 20px;
  margin: 20px 0;
}

.selectMenu {
  width: 250px;
  height: 40px;
  border-radius: 10px;
}

#episodeOptions {
  margin-left: 50px;
}

#select {
  margin-left: 50px;
  width: 250px;
  height: 40px;
  border-radius: 10px;
}

#searchInput {
  width: 250px;
  height: 35px;
  border-radius: 10px;
  margin-left: 50px;
}

#episodeCount {
  margin-left: 50px;
  font-size: 1.2em;
  font-weight: 600;
}

.rootContainer {
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 10px 0 10px 25px;
  padding-right: 60px;

}

.container {
  border-radius: 10px;
  background-color: rgb(61, 93, 144)
}

.episodeButton {
  padding: 15px;
  font-weight: 600;
  font-size: 1em;
  border: solid gray 0.5px;
  border-radius: 5px;
  width: 470px;
  margin-bottom: 20px;
  background-color: #979799;
}

.episodeImg {
  width: 350px;
  padding: 0 0 10px 60px;
}

.episodeDescription {
  width: 350px;
  padding: 0 0 10px 60px;
  font-size: 1.1em;
}

/* Style for Show List Page*/
.showContainer {
  border-radius: 10px;
  background-color: rgb(61, 93, 144);
  margin: 0 50px;
}

.secondContainer {
  display: grid;
  grid-template-areas: "btn btn btn"
    "img text info"
    "img text info";
  row-gap: 1rem;
  column-gap: 2rem;
  margin: 2rem 0;
}

.innerContainer {
  grid-area: info;
  display: flex;
  flex-direction: column;
  background-color: #7fc8ed;
  border: solid gray 0.5px;
  border-radius: 5px;
  gap: 2em;
  font-size: 1em;
  list-style: none;
  margin-bottom: 4rem;
  margin-right: 4rem;
  margin-top: 2rem;
  padding: 2rem;
  width: 150px
}

.showButton {
  grid-area: btn;
  padding: 15px;
  font-weight: 600;
  font-size: 1.4em;
  border: solid gray 0.5px;
  border-radius: 5px;
  width: 1420px;
  margin-bottom: 20px;
  background-color: #979799;
}

.showImg {
  grid-area: img;
  padding-left: 4rem;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.showDescription {
  grid-area: text;
  font-size: 1em;
}