body{
  margin:auto ;
  background-color: #7fc8ed;
}
#root {
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:30px;
  margin:10px 0 10px 25px;
  padding-right: 60px;
  
}
.container{
  border-radius: 10px;
  background-color:rgb(61, 93, 144)
}
.episodeButton{
  padding: 15px;
  font-weight: 600;
  font-size: 1em;
  border: solid gray 0.5px;
  border-radius: 5px;
  width: 470px;
  margin-bottom: 20px;
  background-color: #979799;
}
.episodeImg{
  width: 350px;
  padding: 0 0 10px 60px;
}
.episodeDescription{
  width: 350px;
  padding: 0 0 10px 60px;
  font-size: 1.1em;
}
